<!--<div class="container-fluid mt-60">-->
<!--  &lt;!&ndash;Dear&ndash;&gt;-->
<!--  <div class="dear-top mt-40">-->
<!--    <div class="row">-->
<!--      <div class="col"></div>-->
<!--      <div class="col-3">-->
<!--        <h5 class="">Introduction</h5>-->
<!--      </div>-->
<!--      <div class="dear-content col-8">-->
<!--        <p class="">AGURI is crafting the next generation of heirloom pieces. Each one is designed to transition seamlessly-->
<!--          from one wearer to the next and complement each individual’s style in a unique way.-->
<!--        </p>-->
<!--        <p class="">Designed and produced in New York City, AGURI’s small team of expert jewelers utilizes recycled precious metals and reclaimed or-->
<!--          ethically mined gemstones in each piece, sparking new life into materials that may otherwise be obsolete.-->
<!--          Precious metals and reclaimed or ethically mined gemstones in each piece, sparking new life into materials-->
<!--          that may otherwise be obsolete reclaimed or ethically.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
  <!--the-brand-->
<!--  <div class="row who mbt-120">-->
<!--    <div class="col-6 who-left">-->
<!--      <img src="./assets/img/about-us/about1.webp"/>-->
<!--    </div>-->
<!--    <div class="col-8 who-right row ps-0">-->
<!--      <div class="col-6 who-img2">-->
<!--        <img src="./assets/img/about-us/about2.webp"/>-->
<!--      </div>-->
<!--      <div class="col-6 who-content">-->
<!--        <h4 class="mb-3">About Aguri Brand</h4>-->
<!--        <p class="smt">AGURI is crafting the next generation of heirloom pieces. Each one is designed to transition seamlessly from-->
<!--          one wearer to the next and complement each individual’s style in a unique way. Designed and produced in New York-->
<!--          City, AGURI’s small team of expert jewelers utilizes recycled precious metals and reclaimed or ethically mined-->
<!--          gemstones in each piece.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--introduction-->
<div class="banner-img mbt-120">
  <div class="">
    <img src="./assets/img/about-us/1.png" />
  </div>
  <div class="banner-img-text text-center">
    <h5>AGURI BRAND</h5>
    <h2>&</h2>
    <h4>PASCAL IMITATION JEWELLERY</h4>
  </div>
</div>
<div class="about-aguri">
  <div class="row">
    <div class="col abt-left"></div>
    <div class="col-10 abt-contain">
      <div>
        <h6>About</h6>
        <h2>AGURI JEWELRY</h2>
      </div>
      <div class="row">
        <div class="col-6 sub-info">
          <div class="row sub-info-inner">
            <div class="col-4 note-first">
              <p class="mdt">Aguri's Address</p>
              <p class="smt">6901 Hollywood Blvd, LA, CA 90028, US</p>
              <p class="smt">6901 Hollywood Blvd, LA, CA 90028, US</p>
            </div>
            <div class="col-4">
              <div>
                <p class="mdt">Email Address</p>
                <p class="smt">Aguri@jewelery.co</p>
              </div>
              <div>
                <p class="mdt">Hotline</p>
                <p class="smt">0987654321</p>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
        <div class="col-6">
          <p class="">AGURI is crafting the next generation of heirloom pieces. Each one is designed to transition seamlessly
            from one wearer to the next and complement each individual’s style in a unique way. Designed and produced in New
            York City, AGURI’s small team of expert jewelers utilizes recycled precious metals and reclaimed or ethically
            mined gemstones in each piece, sparking new life into materials that may otherwise be obsolete. precious metals.
          </p>
          <p class="">AGURI is crafting the next generation of heirloom pieces. Each one is designed to transition seamlessly
            from one wearer to the next and complement each individual’s style in a unique way. Designed and produced in New
            York City, AGURI’s small team of expert jewelers utilizes recycled precious metals and reclaimed or ethically
            mined gemstones in each piece, sparking new life into materials that may otherwise be obsolete. precious metals.
            AGURI is crafting the next generation of heirloom pieces. Each one is designed to transition seamlessly from
            one wearer to the next and complement each individual’s style in a unique way. Designed and produced in New York
            City, AGURI’s small team of expert jewelers utilizes recycled precious metals and reclaimed or ethically mined
            gemstones in each piece, sparking new life into materials that may otherwise be obsolete. precious metals and
            reclaimed or ethically mined gemstones in each piece, sparking new life into materials that may otherwise be obsolete reclaimed or ethically.</p>
        </div>
      </div>
    </div>
    <div class="col abt-right"></div>
  </div>
</div>

<div class="about-image">
  <div class="row">
    <div class="col"></div>
    <div class="col-11 abt-img-inner">
      <img src="./assets/img/about-us/2.png" />
    </div>
  </div>
</div>

<div class="vision-section">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <h3>Our Vision</h3>
      <p>
        Our vision at [Jewelry Brand] is to redefine elegance and become a global symbol of style and sophistication in
        the world of jewelry. We envision a future where our designs evoke emotions, tell stories, and become cherished
        heirlooms passed down through generations. We strive to be at the forefront of innovation, continuously pushing
        boundaries to create visionary designs that capture the essence of individuality. With a commitment to craftsmanship,
        exceptional quality, and unparalleled customer experience, we aim to inspire and empower our customers to embrace
        their own personal style and celebrate life's most precious moments with our exquisite jewelry.
      </p>
    </div>
    <div class="col-2"></div>
    <div class="col-4 vision-right">
      <img src="./assets/img/about-us/3.png" />
    </div>
  </div>
</div>

<div class="mision-section">
  <div class="row">
    <div class="col-6 mision-left">
      <img src="./assets/img/about-us/4.png"/>
    </div>
    <div class="col-2"></div>
    <div class="col-3">
      <h3>Our Mision</h3>
      <p>
        At Aguri Jewellery, our mission is to create stunning, timeless jewelry that celebrates individuality and beauty.
        We craft each piece with meticulous attention to detail and the finest materials, ensuring exceptional quality.
        Our goal is to inspire self-expression, confidence, and create lasting memories through our captivating collections.
        Join us on this journey to embrace your unique brilliance with our exquisite jewelry.
      </p>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<!--our-vision-->
<!--<div class="our-vision mbt-120">-->
<!--  <div class="row">-->
<!--    <div class="col-6 px-0">-->
<!--      <img src="./assets/img/about-us/3.webp"/>-->
<!--    </div>-->
<!--    <div class="col-6 vision-content pe-0">-->
<!--      <div class="vision-inner">-->
<!--        <h4 class="mb-3">Our Vision</h4>-->
<!--        <p class="smt">Forward-thinking fine jewelry essentials for individuals of all genders that breathe new life into classic-->
<!--          silhouettes. Forward-thinking fine jewelry essentials for individuals of all genders that breathe new life into-->
<!--          classic silhouettes. Forward-thinking fine jewelry essentials for individuals of all genders that breathe new-->
<!--          life into classic silhouettes. Forward-thinking fine jewelry essentials for individuals of all genders that-->
<!--          breathe new life into classic silhouettes.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div>

</div>

<div class="container-fluid mbt-120">
  <!--our-mission-->
<!--  <div class="row our-mission">-->
<!--    <div class="our-mission-text col-5">-->
<!--      <h4 class="mb-3">Our Mission</h4>-->
<!--      <p class="smt">SHW is crafting the next generation of heirloom pieces. Each one is designed to transition seamlessly-->
<!--        from one wearer to the next and complement each individual’s style in a unique way. Designed and produced in New-->
<!--        York City and LA, Aguri the brand of "Pascal Imitation Jewellery" - one of the leading manufacturers and suppliers-->
<!--        of Precious, Semi precious and Artificial Jewelry</p>-->
<!--    </div>-->
<!--    <div class="col-7">-->
<!--      <img src="./assets/img/about-us/4.webp" />-->
<!--    </div>-->
<!--  </div>-->
</div>
<!--Back to top-->
<div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <i class="fa-solid fa-circle-arrow-up fa-2xl"></i>
</div>
